/* start variablrs  */
:root {
  --transparent-color: rgb(15 116 143 / 70%);
  ---main-color: #19c8fa;
  --section-padding: 100px;
}
/* End variables */
/* Start Global rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.special-header {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 65px;
  position: relative;
  text-transform: uppercase;
}
.special-header::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px #333333;
  bottom: -37.5px;
  left: 49%;
  transform: translateX(-50%);
  z-index: 5;
  background-color: white;
}
.special-header::after {
  content: "";
  content: "";
  position: absolute;
  width: 70%;
  left: 15%;
  height: 2px;
  background-color: black;
  bottom: -30px;
}

.special-paragraph {
  padding-top: 12px;
  margin: 0 auto 90px;
  line-height: 2;
  color: #777;
  width: 540px;
  max-width: 100%;
}
.special-hover {
  cursor: pointer;
  color: #551a8b !important;
  background-color: transparent;
  position: relative;
  z-index: 1;
  border: solid 1px var(---main-color) !important;
  transform: 0.5s;
  overflow: hidden;
}
.special-hover:hover {
  color: #ffffff !important;
}

.special-hover::before {
  content: "";
  position: absolute;
  width: calc(100% + 100px);
  height: 150px;
  border-radius: 50%;
  z-index: -2;
  top: 100%;
  left: 98%;
  background-color: var(---main-color) !important;
  transition: 0.7s;
}
.special-hover:hover::before {
  top: -30px;
  left: -30px;
}
.btn-hover {
  transition: 0.3s;
  position: relative;
}
.btn-hover:hover {
  color: #ffffff !important;
}
.btn-hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background-color: var(---main-color) !important;
  transition: 0.4s;
}

.btn-hover:hover::before {
  left: 0;
  opacity: 1;
}
/* Small screen  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium screen  */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*  Large screen  */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global rules   */
/* Start header*/
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 97px;
  color: white;
  position: relative;
}
.header .container img {
  height: 40px;
}
.header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  height: 1px;
  bottom: 0;
  background-color: #a2a2a2;
}
.header .container .menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .container .option {
  list-style: none;
  display: flex;
}
.header .menu .symb {
  display: none;
  font-size: 22px;
}
.header .container .option li a {
  text-decoration: none;
  padding: 40px 10px;
  color: white;
  display: block;
  font-size: 15px;
  transition: 0.4s;
  position: relative;
  z-index: 2;
}
.active,
.header .menu .option li a:hover {
  color: var(---main-color);
  border-bottom: 1px solid var(---main-color);
}
.header .container .search {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  font-size: 20px;
  position: relative;
  border-left: 1px solid white;
}
.header .container .search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 20px;
}
@media (max-width: 767px) {
  .header .container .option {
    display: none;
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    flex-direction: column;
    top: 100%;
    left: 0px;
    width: 100%;
  }

  .header .container .option li a {
    padding: 15px;
  }
  .header .container .symb {
    display: block;
  }
  .mega-menu {
    display: block !important;
  }
}

/* End header */
/* Start landing */
.activ {
  background-color: var(--transparent-color);
  border-radius: 12px;
}
.landing {
  overflow: hidden;
  min-height: 100vh;
  background-color: #1f2021;
  background-size: cover;
  position: relative;
  background-image: url(../images/landing.jpg);
  /* animation: landing-left 0.8s linear both ; */
}
.left-landing {
  animation: landing-left 0.8s linear both;
}
.right-landing {
  animation: landing-right 0.8s linear both;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  width: 50%;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;

  /* animation: to_bottom 1.5s ease-in-out; */
}
.landing .content {
  width: 500px;
}
.landing .text h2 {
  font-size: 32px;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 20px;
}
.landing .text p {
  line-height: 2;
  font-size: 14px;
}
.landing i {
  color: #ddd;
}
.landing .left,
.landing .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  border: 1px solid white;
  padding: 10px 15px;
}
.landing .left {
  left: 15px;
}
.landing .right {
  right: 15px;
}
.landing .left:hover,
.landing .right:hover {
  background-color: var(---main-color);
}
.landing .circle {
  position: absolute;
  bottom: 22px;
  right: 50%;
  transform: translateX(50%);
  font-size: 22px;
}
@media (max-width: 991px) {
  .landing .left,
  .landing .right {
    padding: 6px 9px !important;
  }
}
@media (max-width: 767px) {
  .landing .left,
  .landing .right {
    display: none;
  }
  .landing .text {
    width: 100%;
  }
}
/* End landing  */
/* Start services  */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  z-index: 2;
}
.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.special-header {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 65px;
  position: relative;
}
.special-header::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px #333333;
  bottom: -37.5px;
  left: 49%;
  transform: translateX(-50%);
  z-index: 5;
  background-color: white;
}
.special-header::after {
  content: "";
  content: "";
  position: absolute;
  width: 70%;
  left: 15%;
  height: 2px;
  background-color: black;
  bottom: -30px;
}

.special-paragraph {
  padding-top: 12px;
  margin: 0 auto 90px;
  line-height: 2;
  color: #777;
  width: 540px;
}

.services .content {
  display: grid;
  gap: 60px 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.services .content .service {
  display: flex;
  transition: 1.1s;
  transition-timing-function: ease-in-out;
}
.services .service i {
  flex-basis: 100px;
  font-size: 50px;
}
.services .service .info {
  flex: 1 1 0%;
}
.service .info h3 {
  color: var(---main-color);
}
.service .info p {
  margin-top: 30px;
  color: #777;
  line-height: 2;
  max-width: 100%;
}

@media (max-width: 767px) {
  .services .content {
    grid-template-columns: 1fr;
  }
  .services .service {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .services .service i {
    flex-basis: 80px;
  }
}
/* end Services  */
/* Satrt options-info  */
.options-info {
  padding-top: var(--section-padding) !important;
  padding-bottom: var(--section-padding) !important;
  position: relative;
  overflow: hidden;
}
.options-info .content-info {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}
.options-info::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  z-index: -3;
  /* visibility: hidden; */
}
.options-info .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 60%);
  z-index: -3;
}
.options-info .text-info {
  padding: 60px 40px;
  display: flex;
  justify-content: start;
  width: 50%;
  background-color: var(--transparent-color);
  /* animation: text-to-left 1s ease-in-out; */
}

.options-info .text-info .service-info h3 {
  margin-bottom: 40px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
}
.options-info .text-info .service-info .intro-info {
  padding: 15px;
  color: white;
}
.options-info .text-info .service-info .intro-info span {
  margin-left: 25px;
}
.options-info .black {
  position: absolute;
  bottom: 0;
  /* left: 19%; */
  left: -30%;
  z-index: -1;
  /* animation: black-phone 1s ease-in-out 1s forwards; */
}
.options-info .white {
  position: absolute;
  z-index: -2;
  /* left: 21%; */
  left: -40%;
  bottom: 0;
  transform: translateX(50%);
  /* animation: white-phone 1.5s ease-in-out 1s forwards; */
}

@media (max-width: 767px) {
  .options-info .black,
  .options-info .white {
    display: none;
  }
  .options-info .text-info {
    width: 100%;
  }
}
/* End options-info */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .type {
  display: flex;
  justify-content: center;
  list-style: none;
  max-width: 100%;
  transition: 1s;
  transition-timing-function: ease;
}
.type .last {
  overflow: hidden;
}
.portfolio .type li {
  margin-left: 5px;
  padding: 10px;
  transition: 0.5s;
}
/* .type li:hover, */
.type .first {
  background-color: var(---main-color);
  color: white;
  cursor: pointer;
}
.portfolio .galery {
  gap: 5px 0px;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}
.overlay-portfolio {
  position: fixed;
  background-color: rgb(0 0 0 / 70%);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  bottom: 0;
  display: none;
  transition: 0.4s;
}
.show {
  display: block !important;
}
.overlay-portfolio .container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay-portfolio .pop_up {
  position: relative;
  height: 300px;
  width: 350px;
  background-size: cover;
  flex-shrink: 10;
  max-width: 100%;
  transition: 0.4s;
}
.Leftanimation {
  animation: pop_up_move_left 0.3s linear forwards !important;
}
.Rightanimation {
  animation: pop_up_move_right 0.3s linear forwards !important;
}
.overlay-portfolio .pop_up .delete {
  position: absolute;
  right: -15px;
  top: -20px;
  font-size: 25px;
  background-color: #1f2021;
  color: white;
  border-radius: 50%;
}
.overlay-portfolio .pop_up .left,
.overlay-portfolio .pop_up .right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  height: 101px;
  padding: 20px;
}
.overlay-portfolio .pop_up .left:hover i,
.overlay-portfolio .pop_up .right:hover i {
  display: block;
}
.overlay-portfolio .pop_up .left i,
.overlay-portfolio .pop_up .right i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #1f2021;
  font-size: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  display: none;
}
.overlay-portfolio .pop_up .left {
  left: 0px;
}
.overlay-portfolio .pop_up .right {
  right: 0px;
}
.overlay-portfolio .pop_up .right i {
  right: 20px;
}
.overlay-portfolio .pop_up p {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  border-radius: 30px;
  padding: 8px 20px;
  color: white;
  background-color: #1f2021;
  text-transform: capitalize;
  font-size: 14px;
}
@media (max-width: 1199px) {
  .portfolio .galery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .portfolio .galery {
    grid-template-columns: 1fr;
  }
  .portfolio .type {
    font-size: 13px;
  }
  .portfolio .type li {
    margin-left: 1px;
  }
}

.portfolio .galery .image {
  background-color: white;
  position: relative;
  overflow: hidden;
}
.portfolio .galery .image img {
/* animation: ; */
  transition: 1s;
  transition-timing-function: ease-out;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition: 0.4s;
  max-height: 100%;
  border: none;
}
.portfolio .galery .image .icn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -100%;
  font-size: 70px;
  background-color: var(---main-color);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.portfolio .galery .image:hover .icn {
  top: 30px;
}
.portfolio .galery .image .icn i {
  font-size: 70px;

  color: white;
  font-weight: normal;
}
.portfolio .galery .image .details {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding: 19px;
  line-height: 1.5;
  bottom: -120%;
  border: none !important;
}
.portfolio .galery .image .details span {
  color: var(---main-color);
}
.portfolio .galery .image:hover img {
  transform: rotate(3deg) scale(1.1);
}
.portfolio .galery .image:hover .details {
  bottom: -2px;
}
.more {
  padding: 15px 25px;
  border: solid 1px var(---main-color);
  text-decoration: none;
  margin: 35px auto 30px;
  /* margin-right: auto; */
  display: block;
  width: fit-content;
  text-transform: uppercase;
  transition: 0.4s;
}
/* .more:hover {
  background-color: var(---main-color);
  color: white;
  outline: none;
  border: solid 1px black !important;
} */
/* End portfolio */
/* Start video */
.video-section {
  position: relative;
}

.video-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.video-section video {
  height: 100%;
  width: 100%;
}
.video-section .text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  max-width: 100%;
  width: 100%;
  padding: 60px;
  color: white;
  text-align: center;
}

.video-section .text h2 {
  font-weight: normal;
  margin-bottom: 30px;
  text-transform: uppercase;
  transition: 1.1s;
  transition-timing-function: ease;
}
.video-section .text p {
  text-transform: capitalize;
  margin-bottom: 25px;
  transition: 1.1s;
  transition-timing-function: ease;
}
.video-section .text a {
  padding: 8px 20px;
  background-color: black;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.4s;
  transition: 1.1s;
  transition-timing-function: ease;
}
.video-section .text a:hover {
  color: var(---main-color);
  outline: 1px solid var(---main-color);
}
/* End video */
/* Start about */
.about {
  padding-top: var(--section-padding);
}

.about .container {
  text-align: center;
}
.about .font {
  max-width: 100%;
  height: 100%;
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  z-index: -1;
  transition: 1.1s;
  transition-timing-function: ease;
}
@media (max-width: 600px) {
  .about .font {
    bottom: -80px;
    margin-top: -80px;
  }
}
/* End about  */
/* start statistique */
.statistique {
  background-image: url("../images/stats.png");
  max-width: 1000vw;
  width: 100%;
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  z-index: 1;
}
.statistique::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(0 0 0 / 70%);
}
.statistique .container {
  display: grid;
  background-color: var(--transparent-color);
  grid-template-columns: repeat(4, 1fr);
}
.statistique .container .stat {
  opacity: 0;
  padding: 50px;
  text-align: center;
  color: white;
  transition: all 0.3s ease-out;
}
.statistique .container .stat .icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  background-color: black;
  line-height: 40px;
  margin: 0 auto 30px;
}
.statistique .container .stat h2 {
  font-size: 50px;
  margin-bottom: 20px;
}
.statistique .container .stat p {
  text-transform: capitalize;
  font-size: 14px;
}

@media (max-width: 991px) {
  .statistique .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .statistique .container {
    grid-template-columns: 1fr;
  }
}
/* End statistique  */
/* START TEAM */
.team {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.team .container .team-intro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team .team-intro .team-info {
  overflow: hidden !important;
  position: relative;
  width: 45%;
}
.team-info h3 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}
.team .intro {
  line-height: 1.8;
  text-align: center;
  color: #777;
  margin-bottom: 60px;
}

.team-info .team-description {
  display: flex;
  margin-bottom: 50px;
}
.team-info .double {
  transition: all 0.4s !important;
  /* overflow: hidden !important; */
}
.team-description .photo {
  flex-basis: 150px;
  display: flex;
  align-items: center;
}
.team-description .photo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.team-description .par {
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.team-description .par span {
  align-self: flex-end;
  color: #777;
  font-size: 15px;
}

.team-description .par {
  position: relative;
  line-height: 1.8;
}

/* .team .bulle { */
/* position: absolute;
  left: 50%;
  transform: translate(-50%);
} */
.team .bulle {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 70px;
  display: flex;
  justify-content: space-between;
}
.team .bulle span {
  width: 15px;
  height: 15px;
  border: solid 1px #777;
  border-radius: 50%;
}
.team .bulle .active {
  background-color: #19c8fa;
  border: #19c8fa solid 1px;
}
.team .team-intro .Skill-info {
  width: 45%;
}
.Skill-info h3 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

.Skill-info .skill {
  margin-bottom: 40px;
  position: relative;
  /* visibility: hidden; */
  opacity: 0;
}
.Skill-info .skill .percentage {
  position: absolute;
  left: 90%;
  transform: translate(-50%);
  width: 40px;
  background-color: #1f2021;
  color: white;
  text-align: center;
  padding: 4px 3px;
  border-radius: 5px;
}
.Skill-info .skill .percentage::after {
  content: "";
  border-color: black transparent transparent transparent;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 19px);
}
.skill-text {
  transition: all 0.5s linear;
}
.Skill-info .skill div {
  margin-top: 18px;
  height: 29px;
  width: 100%;
  background-color: #dedadc;
  position: relative;
  z-index: -10;
}
.Skill-info .skill .range {
  position: absolute;
  width: 0%;
  transition: width 1s linear;
  background-color: #19c8fa;
  height: 100%;
  left: 0;
  top: 0;
}

.disabled_team {
  display: none;
}
@media (max-width: 991px) {
  .team .team-intro .team-info {
    flex-basis: 100%;
    padding-bottom: 50px;
  }
  .team .team-intro .Skill-info {
    flex-basis: 100%;
  }
}

/* END TEAM  */

/* Start quote */
.quote {
  /* padding-top: var(--section-padding); */
  background-image: url(../images/quote.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.quote::before {
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
  z-index: 1;
}
.quote .container {
  height: 100%;
  position: relative;
  z-index: 15;
  transition: 1.2s;
}
.quote .container q {
  position: relative;
  color: #ffffff;
  z-index: 15;
  font-size: 30px;
  line-height: 1.2;
}
.quote .last_line {
  font-size: 15px;
  color: white;
  display: block;
  position: relative;
  z-index: 15;
  margin-top: 15px;
}
/* End quote */

/* Start Pricing */
.head {
  transition: 1.2s;
  transition-timing-function: ease;
}

.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.pricing .all-cart {
  display: grid;
  gap: 40px;
  /* grid-template-columns: repeat(auto-fitt, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  /* background-color: red; */
}
.pricing .all-cart .price-carte {
  background-color: #fcfcfc;
  text-align: center;
  transition: 0.7s;
  /* background-color: red; */
}

.pricing .all-cart .price-carte .head-carte {
  padding-top: 40px;
  /* padding-bottom: 40px; */
  border: 1px solid;
  border-color: var(---main-color) transparent;
}
.pricing .all-cart .price-carte .head-carte > span {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.all-cart .price-carte .head-carte h1 {
  font-size: 60px;
  margin-top: 20px;
  position: relative;
}
.head-carte h1::before {
  position: absolute;
  content: "$";
  font-weight: normal;
  font-size: 25px;
  margin-top: -5px;
  margin-left: -25px;
}
.head-carte h1::after {
  position: absolute;
  content: "/mo";
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 15px;
}
.price-carte .content-card {
  border-bottom: 1px solid var(---main-color);
}
.price-carte .content-card p {
  /* border-bottom: 1px solid var(---main-color); */
  padding: 20px;
  position: relative;
  /* width: fit-content; */
}
.price-carte .content-card p:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 155px;
  height: 1px;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  margin-bottom: 1px;
  background-color: var(---main-color);
}
.footer-card {
  padding: 30px;
}
.footer-card .btn-by {
  background-color: transparent;
  border: 1px solid var(---main-color);
  padding: 20px;
  color: #551a8b;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.pricing .ctn {
  padding-top: 50px;
  text-align: center;
  transition: 0.5s;
  transition: transform 1s, opacity 1s;
}
/* .ctn:hover{
animation: pricing-animation 0.8s ease-in-out both ;

} */
.pricing .ctn p {
  margin-bottom: 15px;
  font-size: 20px;
}
.pricing .ctn-btn {
  position: relative;
  color: #551a8b;
  border: none;
  background-color: #ffffff;
  border: 1px solid var(---main-color);
  font-size: 18px;
  padding: 15px 30px;
  position: relative;
  cursor: pointer;
  z-index: 3;
}

/* End Pricing */

/* Start Email */
.Email {
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  z-index: 2;
  margin-bottom: var(--section-padding);
  color: #ffffff;
}
.Email::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /50%);
  z-index: -1;
}
.Email .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.email-part {
  border: 1px solid #ffffff;
  padding: 0 0 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  font-size: 22px;
  transition: 0.8s;
  transition-timing-function: ease;
}
.email-part .email-value {
  width: calc(100% - 120px);
  background-color: transparent;
  border: none;
  margin: 0 10px;
  caret-color: var(---main-color);
  cursor: none;
  color: #ffffff;
  font-size: 17px;
}
.email-part .email-value:focus {
  outline: none;
}
.input_mail {
  display: flex;
}
.email-part .subscribe {
  background-color: var(---main-color);
  border: none;
  height: 100%;
  width: 120px;
  padding: 20px;
  color: #ffffff;
  font-size: 17px;
}
.email-part .subscribe:hover {
  padding-left: 22px;
  color: #551a8b;
}
.email-part .email-value::placeholder {
  color: #ffffff;
  font-size: 16px;
}
.container .email-paragh {
  line-height: 2;
  transition-timing-function: ease;
  margin-left: 50px;
  transition: 1.1s;
}

@media (max-width: 991px) {
  .Email .container {
    flex-direction: column;
  }
  .email-part {
    width: 500px;
    max-width: 100%;
    overflow: hidden;
  }
  .container .email-paragh {
    margin: 30px 0 0;
  }
}
/* End Email */

/* Start Contact  */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact-form {
  display: flex;
  gap: 50px;
}
.contact-form .form {
  flex: 3 1 0%;
  transition: 0.8s;
  transition-timing-function: ease;
}
.contact-form textarea {
  height: 200px;
}
.contact-form .form input:not(:last-child),
.contact-form .form textarea {
  display: block;
  margin-bottom: 40px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  caret-color: #777;
}
.contact-form .form input:not(:last-child)::placeholder,
.contact-form .form textarea::placeholder {
  color: #777;
  text-transform: capitalize;
  font-size: 15px;
}
.contact-form .form .send-btn {
  width: 150px;
  margin-left: calc(100% - 150px);
  /* background-color: transparent; */
  padding: 18px;
  text-transform: uppercase;
  /* color: #551a8b; */
  font-size: 15px;
  /* color: #ffffff; */
  z-index: 1;
  position: relative;
}

.contact-form .form input:not(:last-child):focus,
.contact-form .form textarea:focus {
  outline: none;
}
.contact-form .form-info {
  flex: 1 1 0%;
  transition: 0.8s;
  transition-timing-function: ease;
}
.form-info .info-line {
  margin-bottom: 100px;
}
.form-info .info-line span {
  display: block;
  margin-bottom: 10px;
  color: #777;
}
.form-info h3 {
  margin-bottom: 30px;
  font-weight: normal;
}
.form-info ul {
  padding-top: 10px;
}
.form-info ul li {
  list-style: none;
  margin-bottom: 18px;
  color: #777;
  font-style: italic;
  font-size: 16px;
  font-weight: 200;
}
@media (max-width: 767px) {
  .contact-form {
    flex-direction: column;
  }
  .contact-form .form {
    width: 100%;
    order: 2;
  }
  .form-info {
    text-align: center;
  }
  .form-info .info-line {
    margin-bottom: 40px;
  }
}
/* End Contact  */
/* Start Footer */
.footer {
  background-image: url(../images/subscribe.jpg);
  padding-top: 52px;
  padding-bottom: 52px;
  position: relative;
  background-position: center;
  background-size: cover;

  z-index: 2;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 75%);
  z-index: -1;
}

.footer .container {
  text-align: center;
  color: #ffffff;
}
.footer img {
  transition: 0.8s;
  transition-timing-function: ease;
  margin-bottom: 60px;
}
.footer .socail {
  transition: 0.8s;
  transition-timing-function: ease;
}
.footer .socail h3 {
  margin-bottom: 45px;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 22px;
  position: relative;
}
.footer .socail h3::before {
  position: absolute;
  height: 1px;
  background-color: #ffffff;
  width: 200px;
  margin-bottom: 2px;
  content: "";
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.footer ul {
  text-decoration: none;
  list-style: none;
  margin-left: 30px;
  margin-bottom: 60px;
}
.footer li {
  display: inline-block;
  margin-right: 30px;
}
.footer li:hover {
  padding-left: 5px;
}
.footer li:nth-child(1):hover i {
  color: #3b5998;
}
.footer li:nth-child(2):hover i {
  color: #1da1f2;
}
.footer li:nth-child(3):hover i {
  color: var(---main-color);
}
.footer li:nth-child(4):hover i {
  color: #0077b5;
}

.footer span {
  color: var(---main-color);
  font-weight: bold;
}

/* End Footer */

@keyframes to_top {
  0% {
    top: 100%;
    transform: translateY(0);
    opacity: 0;
  }

  60% {
    opacity: 1;
    top: 50%;
    transform: translateY(-55%);
  }
  80% {
    top: 50%;
    transform: translateY(-45%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
  }
}
@keyframes to_left {
  0% {
    right: -50%;
  }
  60% {
    right: calc(50% + 70px);
  }
  80% {
    right: calc(50% - 70px);
  }
  100% {
    right: 50%;
  }
}
@keyframes to_bottom {
  0% {
    top: -45%;
    transform: translateY(0);
  }
  60% {
    top: 50%;
    transform: translateY(-45%);
  }
  80% {
    top: 50%;
    transform: translateY(-55%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
  }
}
@keyframes black-phone {
  0% {
    left: -30%;
  }

  100% {
    left: 19%;
  }
}
@keyframes white-phone {
  0% {
    left: -35%;
  }

  100% {
    left: 21%;
  }
}
@keyframes text-to-left {
  0% {
    transform: translateX(25px);
  }

  100% {
    transform: translateX(0px);
  }
}
@media (max-width: 767px) {
  @keyframes to_left {
    0% {
      right: -50%;
    }
    60% {
      right: 10%;
    }
    80% {
      right: -10%;
    }
    100% {
      right: 0;
    }
  }
}
@media (max-width: 991px) {
  @keyframes black-phone {
    0% {
      left: -30%;
    }

    100% {
      left: 9%;
    }
  }
  @keyframes white-phone {
    0% {
      left: -40%;
    }

    100% {
      left: 11%;
    }
  }
}
@keyframes pop_up_move_left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.3;
  }
  49% {
    transform: translateX(30%);
    opacity: 0.1;
  }
  49.2% {
    transform: translateX(-35%);
    opacity: 0.2;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes pop_up_move_right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.3;
  }
  49% {
    transform: translateX(-30%);
    opacity: 0.1;
  }
  49.2% {
    transform: translateX(45%);
    opacity: 0.2;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes landing-left {
  0% {
    transform: translate(0);
  }
  49% {
    transform: translate(80vw);
    /* opacity: 0; */
  }
  50% {
    opacity: 1;
    transform: translate(-80vw);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes landing-right {
  0% {
    transform: translate(0);
  }
  49% {
    transform: translate(-80vw);
    /* opacity: 0; */
  }
  50% {
    opacity: 1;
    transform: translate(80vw);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes stat_animation {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes team_animation_letf {
  0% {
    opacity: 0.2;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes prev_team_animation_letf {
  0% {
    opacity: 1;
    transform: translateX(50%);
  }
  100% {
    /* opacity: 0; */
    transform: translateX(-20%);
  }
}
@keyframes team_animation_right {
  0% {
    opacity: 0.2;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes prev_team_animation_right {
  0% {
    opacity: 1;
    transform: translateX(50%);
  }
  100% {
    /* opacity: 0; */
    transform: translateX(120%);
  }
}
@keyframes range_animation {
  0% {
    width: 0;
  }
  100% {
    /* opacity: 0; */
  }
}

@keyframes skill_animation {
  0% {
    /* visibility: visible !important; */
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes team_animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes quote_animation {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pricing-animation {
  0% {
    transform: translateY(-40px);
    opacity: 0.1;
  }
  10% {
    transform: translateY(20px);
    opacity: 0.1;
  }
  100% {
    opacity: 1;

    transform: translateY(0);
  }
}
@keyframes cart-pricing-animation {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes translate_to_left {
  0% {
    filter: blur(5px);
    transform: translateX(-25px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes translate_to_right {
  0% {
    filter: blur(5px);
    transform: translateX(25px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes translate_to_leftP {
  0% {
    /* filter: blur(1px); */
    transform: translateX(-30px);
    opacity: 0;
  }

  100% {
    /* filter: blur(0); */
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes translate_to_rightP {
  0% {
    /* filter: blur(1px); */
    transform: translateX(30px);
    opacity: 0;
  }

  100% {
    /* filter: blur(0); */
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes translate_to_bottomH {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes translate_to_bottom {
  0% {
    filter: blur(5px);
    transform: translateY(-25px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes translate_to_top {
  0% {
    transform: translateY(25px);
    opacity: 0;
    filter: blur(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
}
@keyframes scale_image {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.test {
  height: 100vh;
}
